.post-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  max-width: 60vw;
}

.post-image {
  height: 100%;
  width: auto;
}

.flex-divider {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .post-container {
    max-width: 80vw;
  }

  .post-image {
    height: auto;
    width: 100%;
  }
}
